<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.a.dproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <meta-data
        android:name="com.google.ar.core"
        android:value="required" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".DApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.DProject">
        <activity android:name="com.a.dproject.mvvm.activity.SimpleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.a.dproject.MainActivity"
            android:hardwareAccelerated="true"></activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.a.dproject.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.a.dproject.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>